.btn {
  /* dimensions style*/
  border: 0;
  padding: 5px 14px;
  box-sizing: border-box;
  /* font style*/
  font-family: Poppins;
  font-size: 1.05em;
  /* handling overflow  style*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* cursor interaction */
  cursor: pointer;
}

.btn:not(:disabled):hover {
  transform: scale(1.02);
}

.btn:disabled {
  filter: opacity(0.2);
}
