.modal {
  /* dimensions style*/
  width: fit-content;
  box-sizing: border-box;
  /* border */
  border: 0;
  border-radius: 10px;
  /* aligning and placement */
  display: grid;
  place-content: center;
  /* shadow */
  box-shadow: 0 1.2px 3.6px rgb(0 0 0 / 2%), 0 3.4px 10px rgb(0 0 0 / 4%),
    0 8.1px 24.1px rgb(0 0 0 / 5%), 0 27px 80px rgb(0 0 0 / 7%);
}
